<?xml version='1.0' encoding='utf-8'?>
<widget id="com.xikka.badminton" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Badmton</name>
    <description>
        A simple app for determining badminton rotations.
    </description>
    <author email="sunil@xikka.com" href="http://xikka.com">
        sunil.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
